.bench {
    margin: 20px;
    width: 800px;
    height: 406px;
}

.bench__clients-placeholder {
    padding-top: 140px;
    padding-left: 120px;
}

.bench__client {
    display: inline-block;
    margin: 15px;
}